@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
  background-color: rgba(75, 204, 255, 0.575);
}

main {
  min-height: 80vh;
}
